
<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
$(function (){
$('#top_form').submit(function(ev){
ev.preventDefault();
 
//send an ajax request to our action
$.ajax({
url: "/top",
//serialize the form and use it as data for our ajax request
data: $(this).serialize(),
type : 'PUT',
//the type of data we are expecting back from server, could be json too
dataType: "json",
success: function(data) {
    link = "<a href=/page/" + data.id + ">";
    $('#top').html(link + data.text + '</a>');
}
});
});
$('#left_form').submit(function(ev){
ev.preventDefault();
 
//send an ajax request to our action
$.ajax({
url: "/left",
//serialize the form and use it as data for our ajax request
data: $(this).serialize(),
type : 'PUT',
//the type of data we are expecting back from server, could be json too
dataType: "json",
success: function(data) {
    link = "<a href=/page/" + data.id + ">";
    $('#left').html(link + data.text + '</a>');
}
});
});
$('#right_form').submit(function(ev){
ev.preventDefault();
 
//send an ajax request to our action
$.ajax({
url: "/right",
//serialize the form and use it as data for our ajax request
data: $(this).serialize(),
type : 'PUT',
//the type of data we are expecting back from server, could be json too
dataType: "json",
success: function(data) {
    link = "<a href=/page/" + data.id + ">";
    $('#right').html(link + data.text + '</a>');
}
});
});
$('#bottom_form').submit(function(ev){
ev.preventDefault();
 
//send an ajax request to our action
$.ajax({
url: "/bottom",
//serialize the form and use it as data for our ajax request
data: $(this).serialize(),
type : 'PUT',
//the type of data we are expecting back from server, could be json too
dataType: "json",
success: function(data) {
    link = "<a href=/page/" + data.id + ">";
    $('#bottom').html(link + data.text + '</a>');
}
});
});
});
</script>
</head>

<table border="1">
<tr>
<td></td>
<td id="top"><form id="top_form" action=""><input type="hidden" value=<%= @id %> /><input type="text" name="text"></input><input type="submit"></input></form></td>
<td></td>
</tr>
<tr>
<td id="left"><form id="left_form" action=""><input type="hidden" value=<%= @id %> /><input type="text" name="text"></input><input type="submit"></input></form></td>
<td><%= @page_content.centre %></td>
<td id="right"><form id="right_form" action=""><input type="hidden" value=<%= @id %> /><input type="text" name="text"></input><input type="submit"></input></form></td>
</tr>
<tr>
<td></td>
<td id="bottom"><form id="bottom_form" action=""><input type="hidden" value=<%= @id %> /><input type="text" name="text"></input><input type="submit"></input></form></td>
<td></td>
</tr>
</table>